<!DOCTYPE html>
<html>
  <head>
    <title>Workout Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Intro Video Overlay -->
    <div id="introVideoOverlay" class="video-overlay">
      <!-- Assuming your video is in 'static/videos/intro.mp4' -->
      <video
        id="introVideo"
        src="{{ url_for('static', filename=intro_video) }}"
        preload="auto"
        autoplay
        muted
        loop
      ></video>
      <button id="skipIntroButton" class="intro-skip-button">Skip Intro</button>
    </div>

    <!-- Main App Container -->
    <div class="container">
      <!-- Camera -->
      <div class="camera-section" id="videoPanel">
        <img src="{{ url_for('video_feed') }}" id="video-stream" />
      </div>

      <!-- Resizer -->
      <div class="resizer" id="resizer"></div>

      <!-- Stats -->
      <div class="states-section" id="statsPanel">
        <h2>Workout Stats</h2>
        <div class="target-reps-container">
          <label for="targetRepsInput">Target Reps:</label>
          <input
            type="number"
            id="targetRepsInput"
            value="{{ target_reps }}"
            min="1"
          />
        </div>
        <p id="reps">Left: 0 | Right: 0 | Total: 0</p>
        <p id="stage">Stage: -</p>
        <p id="warning"></p>
        <progress id="progress" value="0" max="100"></progress>
        <div class="button-container">
          <button id="startButton">Start</button>
          <button id="stopButton" onclick="stopWorkout()">Stop</button>
        </div>
        <!-- Error Log Section -->
        <div id="errorLogContainer" class="hidden">
          <div id="errorLog"></div>
        </div>
        <!-- Dashboard Button -->
        <div class="button-container dashboard-button-container">
          <button id="dashboardButton" onclick="location.href='/'">
            Back to Dashboard
          </button>
        </div>
      </div>
    </div>

    <script>
      // Pass the exercise ID from Flask to JavaScript
      const EXERCISE_ID = "{{ exercise_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
